@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-teal);
$custom-app-secondary: mat-palette($mat-indigo, A400, A700, 400);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html, body {
    min-height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
}

footer {
    max-width: 100vw;
    width: 100%;
    background: #b8e2de;
}
